<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>864333641720-te7bvd5oejnb76es7o5i0n66hnrr8lhs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.864333641720-te7bvd5oejnb76es7o5i0n66hnrr8lhs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>864333641720-q08r9sjco5idec35f386pt6julhvhj4s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1FDJWZbwHQrTza1V8euJbxJAzZBaEFmA</string>
	<key>GCM_SENDER_ID</key>
	<string>864333641720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pharmdelbusiness.ios</string>
	<key>PROJECT_ID</key>
	<string>pharmdel-driver-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmdel-driver-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864333641720:ios:ffb93054528ec410dd880d</string>
</dict>
</plist>